name: "Terraform CI/CD"

on:
  push:
    branches: [ "main" ]
    paths:
      - 'infrastructure/**'  # Monorepo Filter
  pull_request:
    paths:
      - 'infrastructure/**'

jobs:
  terraform:
    name: "Infrastructure Build & Scan"
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      id-token: write

    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: HashiCorp Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"

      - name: Terraform Init
        run: terraform init
        working-directory: ./infrastructure

      - name: Checkov Security Scan
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ./infrastructure
          framework: terraform
          quiet: true 

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./infrastructure

      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: ./infrastructure