name: "Terraform CI/CD"

on:
  push:
    branches: [ "main" ]
    paths:
      - 'infrastructure/**'
  pull_request:
    paths:
      - 'infrastructure/**'

jobs:
  terraform:
    name: "Infrastructure Build & Scan"
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      id-token: write  # Crucial for OIDC

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/${{ vars.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider'
          service_account: '${{ vars.GCP_SERVICE_ACCOUNT }}'

      - name: HashiCorp Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"

      - name: Terraform Init
        run: terraform init
        working-directory: ./infrastructure

      - name: Checkov Security Scan
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ./infrastructure
          framework: terraform
          quiet: true 

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./infrastructure

      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: ./infrastructure